:root {
    --primary-color: #6060f4;
    --text-color: #494949;
    --secondary-text-color: #9f9f9f;
    --border-color: #dcdcdc;
    --error-color: #8f4242;
    --font-family: -apple-system, BlinkMacSystemFont, Inter, Helvetica, Arial, "Liberation Sans", sans-serif;
}

html,
body,
p,
ul,
dl {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 0.8em;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /* Chrome overrides font family and size on body, so we need to set it here */
    font-family: var(--font-family);
    font-size: 1rem;
    min-width: 240px;
    width: 300px;
}

@media (min-width: 400px) {
    html {
        font-size: 1em;
    }

    body {
        width: auto;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
}

label {
    width: 100%;
}

input,
button,
select {
    font-family: var(--font-family);
    font-size: 1rem;
    box-sizing: border-box;
    padding: 5px 8px;
    color: var(--text-color);
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

button {
    line-height: 1;
    padding: 7px 10px;
    transition: all 0.3s ease-in;
}

button.primary {
    background: var(--primary-color);
    color: white;
}

button:disabled {
    /* biome-ignore lint/complexity/noImportantStyles: needed to override component-scoped styles */
    background: white !important;
    /* biome-ignore lint/complexity/noImportantStyles: needed to override component-scoped styles */
    color: var(--secondary-text-color) !important;
}

button:not(:disabled):hover {
    filter: drop-shadow(0 0 2px var(--primary-color));
    cursor: pointer;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
summary:focus-visible {
    outline: 2px solid var(--primary-color);
}
