html,
body {
    min-height: 90px;
}

body {
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.targetHint {
    text-align: right;
    font-size: smaller;
    color: #777;
}

.targetHint:has(> .targetHint__host:empty) {
    display:none;
}

.targetHint__host {
    font-weight: bold;
}

.error--visible {
    color: #893b3b;
    border: 1px solid #893b3b;
}

.buttonrow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 5px 10px;
    background: white;
    color: #6060f4;
    border: 1px solid #9f9f9f;
    border-radius: 3px;
}

button#setBtn {
    background: #6060f4;
    color: white;
}

.modal-background {
    position: absolute;
    top: 0;
    left: -50%;
    width: 150%;
    height: 100%;
    background: #6060f4;
    transform: rotate(90deg);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in;
}

.modal-background--visible {
    transform: rotate(0deg);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal--hidden {
    top: 150%;
    max-height: 0;
    opacity: 0;
}

.modal__text {
    color: white;
    padding: 10px;
}