:root {
    --primary-color: #6060f4;
}

html,
body {
    min-height: 90px;
    min-width: fit-content;
}

body {
    padding: 15px;
    margin: 0;
}

input,
button {
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    padding: 5px 10px;
}

button {
    height: 27px;
    background: white;
    color: var(--primary-color);
}

button:disabled {
    background: white !important;
    color: #9f9f9f !important;
}

input {
    width: 20ch;
    margin-top: 5px;
    background: white;
}

input:focus,
button:focus {
    outline: 2px solid var(--primary-color);
}
